@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* FullCalendar fixes */
.fc-timegrid-slot {
  background-image: none !important;
  background-color: transparent !important;
}

.fc-bg-event,
.fc-timegrid-bg-harness,
.fc-timegrid-bg-events,
.fc-non-business {
  display: none !important;
}

.fc-timegrid-event-harness {
  overflow: hidden !important;
  max-width: 100% !important;
}

.fc-timegrid-col-events {
  overflow: hidden !important;
}

.fc-event {
  max-width: 100% !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
}